body {
  font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
  font-size: 38px;
  line-height: 24px;
  color: #777777;
  /* background-image: url("../images/header.jpeg"); */
  background-repeat: no-repeat;
  background-size: cover;
  background-color: #e2eff8;
}

.first-section{
  max-width: 40%;
  margin: 40px 0 0 20px;
  float: left;
  font-size:40px;
  letter-spacing: 1px;
  color: #3b6978;
}
h3 {
  font-family: 'Roboto', sans-serif;
  color: #0f4c75;
  margin-bottom:20px;
  font-size:40px;
}
.technical{
  margin-bottom:10px;
  color:#0f4c75;
  font-size: 27px;
  font-family: 'Roboto', sans-serif;
}
.focus{
  color:#1b262c;
  margin-top:0px;
  font-family: 'Roboto', sans-serif;
}
p {
  margin-bottom: 30px;
  line-height: 30px;
  font-size: 20px;
  color:#0f4c75;
}
.web{
  color: #1b262c;
  font-size: 30px;
  margin:0 0 10px 0;
}
.skills-list{
  margin-top:0;
}
#contact {
  margin-top: 30px;
  color:#0f4c75;
}
.contact{
  margin-bottom:60px;
}
.number {
  position: absolute;
  margin: -45px 0 0 0;
  color:#0f4c75;
  font-size:22px;
}
.img-contact{
  height:90px;
  width:14%;
  box-shadow: 5px 5px 5px rgba(0,0,0,0.5);
  transition: box-shadow 1s, transform 1s;
}
.img-contact:hover{
  transform: translate(1px,3px);
  cursor: pointer;
}
.second-section{
  float: right;
  max-width: 45%;
  margin:20px 20px 0 0;
  padding:10px;
  width: 100%;
}
.second-head{
  color: #1b262c;
  font-size: 30px;
  margin:0 0 2% 1%;
}
.work img:hover {
  box-shadow: 10px 10px 10px rgba(0,0,0,0.5);
	transform: translate(5px,15px);
  cursor: pointer;
}
a{
  height:40px;
  width:300px;
}
.work img {
  position: relative;
  float: left;
  width: 42%;
  height:270px;
  border-radius:4px;
  box-shadow: 5px 5px 5px rgba(0,0,0,0.5);
  transition: box-shadow 1s, transform 1s;
  justify-content: space-around;
  display: flex;
  margin: 0 20px 25px 10px;
}